@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --cream-color: #F9F1F0;
    --rose-quartz-color: #FADCD9;
    --dusty-rose-color: #F8AFA6;
    --coral-color: #F79489;
    --sky-purple: #767386;
    --dark-coral-color: #C6766D;
    --main-font: 'Roboto';
    --script-font: 'Dancing Script', cursive;
}

body {
    margin: 0;
    font-family: var(--main-font);
    /* overflow-x: hidden; */
}

/* ----------------NAV------------------- */

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


/*TODO: add transition to nav positions */
nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--coral-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 5px solid var(--cream-color);
}

nav > ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 50px;

}

nav > ul > li a:link {
    padding: 5px 50px;
    color: var(--cream-color);
    font-weight: 900;
}

nav > ul > li a:visited {
    color: var(--cream-color);
}

nav > ul > li a:hover {
    background-color: var(--cream-color);
    color: var(--coral-color);
    cursor: pointer;
    border-radius: 10px;
}

/* ----------------SUB HEADERS------------------- */

h2 {
    text-align: center;
    font-size: 3em;
}

/* ----------------HEADER DIV------------------- */

header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/john-adams-unsplash.jpg);
    background-size: 100% 100%;
    height: 400px;
    border-bottom: 5px solid var(--coral-color);
    background-color: white;
    opacity: 0.7;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#my-image {
    width: 15%;
    max-width: 350px;
    border-radius: 190px;
    /* TODO: filter for mozilla and for internet explorer */
    /* https://www.w3schools.com/howto/howto_css_image_bw.asp */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-color: white;
}

#name {
    display: inline;
    font-size: 4em;
}

/* ----------------QUOTE------------------- */

#quote-container {
    color: var(--coral-color);
    background-color: var(--cream-color);
    text-align: center;
    padding: 1em 1em;
}

#quote {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 25px;
}

#quote > span {
    border-bottom: 2px dashed var(--dark-coral-color);
}

#quote-author {
    padding-left: 400px;
}

/* ----------------ABOUT ME------------------- */

#about-me-container {
    color: var(--cream-color);
    border-bottom: 5px solid var(--cream-color);
    /* border-top: 5px solid var(--dark-coral-color); */
    text-align: center;
}

#about-me-container > h2 {
    color: var(--coral-color);
}

#about-me-container > div {
    border: 2px solid var(--dark-coral-color);
    border-radius: 100px;
    background-color: var(--dark-coral-color);
    margin: 5% 10%;

}

#about-me-container > div > p {
    /* color: var(--dark-coral-color); */
    font-weight: bold;
    padding: 5px 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.140);
    font-size: 20px;

}

#p1 {
    /* font-weight: bold; */
    /* color: var(--dark-coral-color); */
    font-size: 50px;
}

/* ----------------PROJECTS------------------- */

#projects {
    background-color: var(--coral-color);
    color: var(--cream-color);
    padding: 20px;
    margin: 0;
}

#project-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DIVs added using Jquery */
/* TODO: add transition for projects coming into the page */
.project-item {
    padding: 2em 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-img-div {
    border: 30px solid var(--cream-color);
    background-color: var(--cream-color);
    border-radius: 100px 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.project-img-div img {
    width: 500px;
    border-radius: 100px;
    height: 300px;
    object-fit:cover;
}

/* TODO: align text in center of box */
.project-info-div {
    width: 500px;
    border: 10px solid var(--cream-color);
    background-color: var(--cream-color);
    border-radius: 0 100px 100px 0;
    color: var(--dusty-rose-color);
    display: flex;
    flex-direction: column;
}

.project-title {
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.115);
    /* color: var(--dark-coral-color); */
}

.project-info-div p {
    text-align: center;
    font-weight: bold;
    padding: 0 5%;
}

.project-description {
    color: var(--dark-coral-color);
}
.project-links-intro {
    font-size: 25px;
    padding: 15px;
}

.project-links-list {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
}

.project-links-list > li {
    margin: 0 10px;
}

.project-links-list > li > a {
    color: var(--cream-color);
    background-color: var(--dark-coral-color);
    font-weight: bold;
    padding: 10px;
    border-radius: 100px;
}

.project-links-list > li > a:hover {
    color: var(--cream-color);
    background-color: var(--coral-color);
}



/* ----------------CONTACTS------------------- */

#contact-container {
    background-color: var(--rose-quartz-color);
    color: white;
    padding: 1em 2em;
    border-top:5px solid var(--coral-color);

}

#contact-icons-message-container {
    display: grid;
    grid-template-areas: "leftSide rightSide";
    align-items: center;
}

#contact-icons-container {
    grid-area: leftSide;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--coral-color);
    border-radius: 100px;
    margin-right: 10px;
    width: 450px;
    max-width: 1000px;
    margin: auto;
}

#contact-icons-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

/* TODO: add on hover effect for icons - color coral; */
/* TODO: make sure there are no link color changes to the icons */
.icon i {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.icon i:hover {
    background-color: var(--cream-color);
    color: var(--coral-color);
    cursor: pointer;
    border-radius: 10px;
}

#contact-icons-paragraph {
    font-weight: bold;
    font-size: 1.17em;
}

#contact-message-container {
    grid-area: rightSide;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--coral-color);
    border-radius: 100px;
    margin-left: 10px;
    width: 450px;
    max-width: 1000px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form  > *{
    border: 1px solid var(--dusty-rose-color);
    margin: 10px;
    padding: 5px;
    width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);

}

form > button {
    width: auto;
    color: var(--coral-color);
    background-color: white;
    padding: 5px 20px;
    align-self: flex-end;

}


/* ----------------MEDIA QUERY TABLET 900px------------------- */ 
@media only screen and (max-width: 960px) {  
    /* ----------------NAV------------------- */
    nav > ul {
        margin-left: auto;
        margin-right: auto;
    }
    /* ----------------HEADER------------------- */
    header > div {
        flex-direction: column;
    }

    #my-image {
        min-width:30%;
    }

    #name {
        font-size: 3em;
    }

    /* ----------------QUOTE------------------- */
    /* ----------------ABOUT ME------------------- */
    /* ----------------PROJECTS------------------- */

    .project-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .project-img-div {
        border-radius: 100px 100px 0 0;
        height: 400px;
    }

    .project-img-div img {
        width: 400px;
    }

    .project-info-div {
        border-radius: 0 0 100px 100px;
        border: 30px solid var(--cream-color);
        /* height: 800px; */
    }

    /* ----------------CONTACT ME------------------- */
    #contact-icons-message-container {
        grid-template-areas: 
        "rightSide"
        "leftSide"
        ;
    }

    #contact-icons-container {
        height: 260px;
        width: 500px;
        margin-top: 1em;
        margin-bottom: 1em;
    }


    #contact-message-container {
        height: 260px;
        width: 500px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}


/* ----------------CONTACTS QUERY MOBILE ------------------- */

@media only screen and (max-width: 640px) {

    /* ----------------NAV------------------- */
    /* TODO:  hamburger menu */
    nav > ul {
        padding: 0;
    }

    nav > ul > li a:link {
        padding: 5px 10px;

    }
    /* ----------------HEADER------------------- */

    header > div {
        flex-direction: column;
    }

    #my-image {
        /* min-width:30%; */
        width: 200px;
    }


    /* ----------------QUOTE------------------- */

    #quote-author {
        padding-left: 0;
    }

    /* ----------------ABOUT ME------------------- */
    /* ----------------PROJECTS------------------- */
    .project-item {
        flex-direction: column;
        padding-top:2em;
        padding-bottom:2em;
        padding-left:0;
        padding-right:0;
        height: 900px;
    }

    .project-img-div, .project-info-div {
        width: 70%;
    }

    .project-img-div {
        border-radius: 100px 100px 0 0;
        /* width: 400px; */
    }

    .project-img-div img {
        width: 300px;
    }

    .project-info-div {
        border-radius: 0 0 100px 100px;
        /* width: 400px; */
        border: 30px solid var(--cream-color);

    }


    /* ----------------CONTACT ME------------------- */

    #contact-container {
        padding-left: 1em;
        padding-right: 1em;;
    }

    #contact-message-container, #contact-icons-container {
        width: 90%;
        padding: 5px;
    }

    form > * {
        width: 200px;
    }


}

@media only screen and (max-width: 375px) {

    /* ----------------NAV------------------- */

    /* ----------------SUB HEADERS------------------- */


    /* ----------------HEADER------------------- */

    #my-image {
        width:200px;
    }

    #name-container {
        text-align: center;
    }

    #name {
        font-size: 3em;
    }

    /* ----------------QUOTE------------------- */

    /* ----------------ABOUT ME------------------- */
    /* ----------------PROJECTS------------------- */

    .project-img-div, .project-info-div {
        width: 90%;
    }

    .project-img-div {
        border-radius: 100px 100px 0 0;
        /* width: 350px; */
        border: 0;
    }

    .project-img-div img {
        /* width: 325px; */
        width: 90%;
    }

    .project-info-div {
        border-radius: 0 0 100px 100px;
        border: 30px solid var(--cream-color);
        /* width: 350px; */
        border: 0;
        padding-bottom: 30px;

    }

    .project-links-list > li {
        margin: 0 2px;
    }


    /* ----------------CONTACT ME------------------- */

    #contact-icons-container, #contact-message-container {
        width: 90%;
    }

    #contact-icons-container {
        height: 260px;
        /* width: 350px; */
        margin-top: 1em;
        margin-bottom: 1em;
    }


    #contact-message-container {
        height: 260px;
        /* width: 350px; */
        margin-top: 1em;
        margin-bottom: 1em;
    }

    form > button {
        align-self: center;
    }

}

